
  @import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Sassy+Frass&display=swap');

 *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
 h1{
    font-family: 'Istok Web';
    font-size: 2.25rem;
    font-weight: 400;
}
h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Sassy Frass';
}
h3{
    font-weight: 400;
    font-size: 1.125rem;
    font-family:'Sassy Frass';
}
.clients h2{
    color: black;
    margin-top: 120px;
}  
.content h1{
    color: white;
    margin: 0 0 30px 0;
}
.content p{
    font-family: 'Istok Web';
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    max-height: 70px;
    margin-bottom: 53px;
}
.container{
    width: 1196px;
    margin: 0 auto;
    max-width: 100%;
}
header{
    width: 100%;
    height: 107px;
    display: flex;
    justify-content: space-between;/*на всю длинну*/
    align-items: flex-end;
    
    }

    header ul {
        display: flex;
        list-style: none;
        width: 1040px;
        justify-content: space-between;/*равное расстояние у элементов  font-family: 'Sassy Frass'*/
        font-size: 1rem;
        font-weight: 500;
        color: black;
    }
    header ul li a{
        text-decoration: none;
        color: white;
        font-family: 'Istok Web';
    }
    .main-block_image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .main-block{
        position: relative;
        background-image: url("../img/fon1.png");
        min-height: 100vh;
        background-size: cover;
    }
    .content{
        display: flex;
        margin-top: 120px;
        height: 273px;
        justify-content: space-between;
        margin: 209px 0 125px 0;
        background: rgba(122, 98, 76, 0.7);
        box-shadow: 63px 67px 0px rgba(255, 255, 255, 0.3);
padding: 40px 40px 0 40px;
    }
.content_left{
    display: flex;
    flex-direction: column;/*контент в колонках*/
    justify-content: center;
    width: 48%;
    /* margin: 0 0 0 40px; */
}
.content .content_right{
    display: flex;
    align-items: flex-end;
    /* margin: 0 160px 0 0; */
}
.clients-text{
    width: 878;
    font-family: 'Inter';
    height: 72px;
    text-align: center;
    margin-top: 50px ;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

}

.clients{

}
.card-clients1{
    width: 336px;
    height: 443px ;
    background-image: url("../img/c1.png");
    padding: 33px 24px 33px 24px;
}
.card-clients2{
    width: 336px;
    height: 443px ;
    background-image: url("../img/c2.jpg");
    padding: 33px 24px 33px 24px;
}
.card-clients3{
    width: 336px;
    height: 443px ;
    background-image: url("../img/c3.png");
    padding: 33px 24px 33px 24px;
}
.card-client-container{
margin-top: 40px;
display: flex;
justify-content: space-between;
}
 
 .card-clients-content{
        max-width: 286px;
        min-height: 377px ;
        background-color: #FFFFfF;
        display: flex;
        flex-direction: column;
    
}
.card-clients-content_img{
    max-width: 70px;
    max-height: 70px;
    margin: 28px auto 0px auto;
}
.card-clients-content-za{
margin-top: 23px;
color: black;
text-align: center;
}
.card-clients-content-text{
    color: black;
    font-weight: 400;
    font-family: 'Inter';
    font-size: 0.75rem;
    width: 214px;
    height: 90px;
    margin: 27px auto 0 auto;
  
}
.curs{
    margin-top: 120px;
    display: flex;
    height: 1214px;
}
.header-curs{
    height: 165px;
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url(../img/curs.png);
    background-size:cover;
}
.header-curs p{
    font-family: 'Istok Web';
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    text-align:center;
    margin-top: 25px;
}

.header-curs h2{
    color: white;
    margin-top: 30px;
}
.main-container-curs{
    margin-top: 285px;
    width: 1190px;
    height: 929px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cards-curs-content{
    display: flex;
    width: 580px;
    height: 443px;
}
.cards-curs-content-left{
    width: 53%;

}
.cards-curs-content-rhight{
    background: #7A624C;
    width: 47%;
}
.cards-curs-content-rhight_description{
    background: white;
    width: 187px;
    height: 382px;
    margin: 30px auto 30px auto;
}
.cards-curs-content-rhight_description-za
{
padding: 30px ;
font-family:'Istok Web';
color: black;
font-weight: 400;
font-size: 1.125rem;
text-align: center;
}
.cards-curs-content-rhight_description p{
    width: 157px;
    height: 195px;
    padding: 20px 0 0 0;
    margin: 0 auto;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Inter';
}
.main-block-ms{
    margin: 120px 0 0 0 ;
    position: relative;
    background-image: url("../img/ms.png");
    min-height: 1315px;
    background-size: cover;
}
.header-ms{
    height:218px;
    width: 634px;
    /*background-image: url("../img/romb.png");*/
    margin: 0 auto;
    padding: 60px 0 0 0;
    
}
.header-ms h2{
    color: white;
  align-items: center;
    margin: -104px 0 0 0 ;

}
.content-ms{
    margin: 30px 0 0 179px;
   background: rgba(148, 155, 99, 0.6);
    width: 240px;
    height: 956px;

    
}
.content-ms-d{
   
    width: 600px;
    height: 956px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 37px 0 37px 21px;
}
.content-ms-romb{
    background: #949B63;
    opacity: .6;
    width: 240px;
    height: 956px;
  
}
.content-ms-card{
    display: flex;
}
.content-ms-card-left{
    margin: 0 0 0 21px;
    background: white;
    width: 436px;
    height: 177px;
    opacity: 1;
    padding: 40px 66px 28px 40px ;
}
.content-ms-card-left h3{
    color: black;
    }
    .content-ms-card-left p{
        width: 330px;
        height: 75px;
        font-size: 0.75rem;
        font-weight: 400;
        font-family: 'Inter';
        margin-top: 10px;
    }
    .content-ms-card img{
     width: 207px;
     height: 188px;
     margin: -18px 0 0 -63px;
    }
    .main-block-reg{
        margin: 130px 0 85px 0;
        height: 681px;
    }
    .header-reg{
        height: 35px;
    }
    .header-reg h2{
        color: black;
        align-items: center;
    }
    .content-reg{
        margin-top: 80px;
        height: 563px;
        display: flex;
    }
    .content-reg .content-left{
        width: 32%;
        height: 494px;
        margin: 45px 0 25px 0;
        background-image: url("../img/reg-img.png");
    }

    .content-reg .content-left .content-left-r1 {
        background: rgba(217, 217, 217, 0.6);
        height: 360px;
        width: 275px;
        margin: 80px auto 54px auto;
    }
    .content-reg .content-left .content-left-r2 {
        background: rgba(217, 217, 217, 0.6);
        height: 269px;
        width: 205px;       
        margin: -369px auto 46px auto;
    }
     .content-left-d{
        width: 157px; 
        margin: -212px auto 0 auto;
       height: 95px;
    }
    .content-reg .content-left  .content-left-d h3{
    color: black;
    height: 20px;
    width: 152px;
    align-items: center;


    }
    .content-reg .content-left .content-left-d p{
        color: black;
        height: 81px;
        width: 152px;
        font-size: 0.75rem;
        margin-top: 15px;
        font-weight: 400;
        font-family: 'Inter';
        align-items: center;
    }
    .content-reg .content-right{
        width: 68%;
        height: 100%;
        background-image: url("../img/reg-card.png");
    }
    .content-right-r{
        width:458px ;
        height:282px ;
        background: #7A624C;
        margin: 139px auto 139px auto;
    }
    .content-reg .content-right-d{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 171px;
        width: 250px;
        margin: -356px auto 0 auto;
}
.content-reg .content-right-dp{
    background: white;
    height: 28px;
    width: 236px;

}
.content-reg .content-right-dp p{
    font-size: 0.75rem;
    font-weight: 400;
    font-family: 'Inter';
    color: #414753;
   margin: 6px 0 7px 20px;
}
.button{
font-family: 'Inter';
font-weight: 400;
font-size: 1rem;
border: none;
outline: none;
display: inline-block;
text-align: center;
text-decoration: none;
color: white;
background: #949B63;
width: 250px;
height: 55px;
}
.main-block-ped{
    background-image: url("../img/ped-fon.png");
    position: relative;
    min-height: 979px;
    background-size: cover;
}
.padding{
    padding: 110px 0 110px 0;
}
.content-ped{
    background: #7A624C;
    width: 1187px;
    height: 759px;
    margin: 0 auto;
}
.header-content-ped{
    height: 150px;
    padding: 70px 0 0 0;
}
.header-content-ped h2{
   color: white;
}
.header-content-ped p{
    color: white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 20px;
 }
.content-ped-d{
    display: flex;
    justify-content: space-between;
    width: 1128px;
    margin: 46px auto 0 auto;
    height: 483px;
}
.content-ped-card{

}
.content-ped-card-r1{
    width: 336px;
    height: 410px;
    background: #949B63;
    margin-top: 73px ;
    padding: 21px 28.5px 30px 28.5px;
}
.content-ped-card-r2{
    background: white;
    width: 279px;
height: 359px;
}
.content-ped-card-r2 img{
    width: 260px;
    height: 260px;
    margin: -73px 9.5px 0 9.5px;

}
.content-ped-card-r2 h3{
 font-size: 1.25rem;
 text-align: center;
}
.content-ped-card-r2 p{
text-align: center;
margin: 20px 32.5px 0 32.5px;
font-size: 0.75rem;
width: 214px;
height: 75px;
align-items: center;
}
.feedback{
    min-height:883px;
    margin-top: 120px;
}
.feedback-content{
    width: 1144px;
    height: 498px;
    margin: 117px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.feedback-content-card1{
    margin: auto 0;
}
.feedback-content-card1-r1{
    width: 336px;
    height: 394px;
    background: #7A624C;
}
.feedback-content-card1-r1-header{
    padding: 14px 0 0 0 ;
    display: flex;
    justify-content: center;
}
.feedback-content-card1-r1-header img{
    width: 29px;
    height: 29px;
}
.feedback-content-card1-r2{
background: white;
width: 312px;
height: 322px;
margin: 15px 12px 14px 12px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 57px 5px 7px 5px;
}
.feedback-content-card1-r2 p{
font-weight: 400;
font-size: 0.75rem;
 margin: 0 26px 0 16px;
}
.feedback-content-card1-cli{

}
.feedback-content-card1-cli img{
    width: 84px;
height: 87px;
align-items: end;
}
.feedback-content-card1-cli p{
    text-align: end;
    font-weight: 400;
font-size: 0.75rem;
margin: 0 0;
}
.feedback-content-card2{
    margin: auto 0;
}
.feedback-content-card2-r1{
    width: 336px;
    height: 509px;
    background: #B39581;
}
.feedback-content-card2-r1-header{
    padding: 16px 0 0 0 ;
    display: flex;
    justify-content: center;
}
.feedback-content-card2-r1-header img{
    width: 33px;
height: 33px;
}
.feedback-content-card2-r2{
background: white;
width: 320px;
height: 440px;
margin: 9px 8px 11px 8px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 57px 5px 7px 5px;
}
.feedback-content-card2-r2 p{
font-weight: 400;
font-size: 1rem;
 margin: 0 33.5px 0 33.5px;
}
.feedback-content-card2-cli{

}
.feedback-content-card2-cli img{
    width: 105px;
    height: 109px;
}
.feedback-content-card2-cli p{
    text-align: end;
    font-weight: 400;
font-size: 0.75rem;
margin: 0 0;
}
.footer{
    min-height: 323px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-image: url("../img/footer.png");
    padding: 55px 0;
}
.content-footer{
    background: rgba(217, 217, 217, 0.7);
    width: 1379px;
height: 213px;
margin: 0 auto;
padding: 31px 60.5px;
display: flex;
justify-content: space-between;
}
.content-footer-left{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.content-footer-left p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    color: #414753;
}
.content-footer-left-i{
display: flex;
justify-content: space-between;
width: 139px;
}
.content-footer-right .p1{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    color: #414753;
}
.content-footer-right .p2{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    color: #414753;
    text-align: right;
}
button.burger{
    border: none;
    width: 40px;
    height: 28px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    display: none;
    transform: translateX(0px);
}
button.burger .line{
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    transition: 0.3s;
  
}

@media screen and (max-width: 900px) {
    .content .content_left h1{
        font-size: 1.6rem;
        text-align: center;
    }
    h2{
        font-size: 1.5rem;
    }
    .clients h2{
        margin-top: 60px;
    }
    .clients-text{
        font-size: 1rem;
        text-align: center;
        margin-top: 30px;
    }
    .card-client-container{
        flex-direction: column;
        margin-top: 0;
    }
    .card-clients1{
margin: 30px auto 0 auto;
    }
    .card-clients2{
        margin: 15px auto 0 auto;
    }
    .card-clients3{
        margin: 15px auto 0 auto;
    }
    .content .content_left p{
        font-size: 0.8rem;

       margin: 0 auto;
    }
    .container{
        max-width: 90%;
    }
    .curs{
        margin-top: 60px;
    }
    .header-curs p{
        
    }
    .content{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 350px;
        box-shadow: none;
        height: 400px;
        padding-bottom: 50px;
    }
    .content_left{
        width: 100%;
        margin-top: 30px;
    }
   
    .content_right{
        margin: 0 auto;
    }
    button.burger{
        display: flex;
    }
    .main-block .menu{
        display: none;
    }
    header img{
        height: 42%;
    }
}

